@using Microsoft.AspNetCore.Identity
@using ProjectPresents.Data
@inject SignInManager<Client> SignInManager
@inject UserManager<Client> UserManager

<style>
    .search
    {
        background-color: #F96F6F;
        border-radius: 8px;
        width: 150px;
        transition: all 0.2s ease-out;
    }
    .search:hover
    {
        background-color: #FA3C3C;
        transition: all 0.2s ease-out;
    }

    .menubox {
        background-color: white;
        transition: all 0.1s ease-out;
        border-radius: 4px;
    }

    .menubox:hover {
        background-color: lightgray;
        transition: all 0.1s ease-out;
    }
</style>

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <form class="d-flex" asp-controller="Presents" asp-action="Index" asp-route-searchString="">
            <input class="form-control me-sm-2" type="search" placeholder="Подарък ..." value="@ViewBag.Search" name="searchString" />
            <button class="search" type="submit">Търси</button>
        </form>
        <li class="menubox">
            <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index"><img src="~/shoppingcart.png" width="30px"/></a>
        </li>
        <li class="menubox">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name</a>
        </li>
        <li class="menubox">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Изход</button>
            </form>
        </li>
    }
    else
    {
        <form class="d-flex" asp-controller="Presents" asp-action="Index" asp-route-searchString="">
            <input class="form-control me-sm-2" type="search" placeholder="Подарък ..." value="@ViewBag.Search" name="searchString"/>
            <button class="search" type="submit">Търси</button>
        </form>
        <li class="menubox">
            <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index"><img src="~/shoppingcart.png" width="30px" /></a>
        </li>
        <li class="menubox">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
        </li>
        <li class="menubox">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Вход</a>
        </li>
    }
</ul>
