@model ProjectPresents.Data.Aplied

@{
    ViewData["Title"] = "Премахване на приложение";
}

<style>
    body 
    {
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, gold 100%);
        font-family: 'Comic Sans MS';
    }
    .everything 
    {
        display: flex;
        flex-direction: row;
        align-self: center;
    }

    @@media screen and (max-width: 770px) 
    {
        .everything
        {
            display: flex;
            flex-direction: column;
        }
    }
    .buttonBack 
    {
        width: 200px;
        height: 85px;
        border-radius: 8px;
        background-color: lightskyblue;
        transition: all 0.2s ease-out;
    }
    .buttonBack:hover 
    {
        background-color: deepskyblue;
        color: white;
        transition: all 0.2s ease-out;
    }
    .buttonDel
    {
        width: 200px;
        height: 85px;
        border-radius: 8px;
        background-color: red;
        transition: all 0.2s ease-out;
        font-size: 20px;
    }
    .buttonDel:hover 
    {
        transition: all 0.2s ease-out;
        color: white;
        background-color: #CE0000;
    }
    .apliedText 
    {
        font-size: 27px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        transition: all 0.2s ease-out;
    }

    @@media screen and (max-width: 1200px) 
    {
        .apliedText
        {
            font-size: 22px;
        }
    }

    @@media screen and (max-width: 1100px) 
    {
        .apliedText
        {
            width: 300px;
        }
    }

    @@media screen and (max-width: 770px)
    {
        .apliedText
        {
            margin-top: 25px;
        }
    }
</style>

<br>
<h1 style="text-align: center">Премахване на приложение</h1>
<br>
<h4 style="text-align: center">Сигурни ли сте, че искате да премахнете това приложение?</h4>

<br>
<br>

<div class="everything">
    <div class="apliedText">
        <b>Име: </b>@Html.DisplayFor(model => model.Name)
        <br>
        <b>Дата: </b>@Html.DisplayFor(model => model.DateUpdate)
    </div>
</div>
<br>
<br>
<br>
<br>
<div style="display: flex; flex-direction: row; justify-content: space-evenly; ">
    <div>
        <a asp-action="Index"><input type="button" value="Предишна страница" class="buttonBack" /></a>
    </div>
    <div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Премахване" class="buttonDel" />
        </form>
    </div>
</div>
<br>
<br>
