@model IEnumerable<ProjectPresents.Data.Category>

@{
    ViewData["Title"] = "Index";
}

<style>
    body 
    {
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, lightgreen 100%);
        font-family: 'Comic Sans MS';
    }
    #buttonCreate 
    {
        width: 130px;
        height: 55px;
        border-radius: 8px;
        transition: all 0.2s ease-out;
    }
    #buttonCreate:hover 
    {
        transition: all 0.2s ease-out;
        background-color: lightgray;
    }
    .presentText 
    {
        margin-left: 20px;
        width: 250px;
        font-size: 20px;
        display: flex;
        flex-direction: column;
    }
    .category
    {
        background-color: limegreen;
        border-radius: 12px;
        font-size: 18px;
        display: inline-flex;
        box-shadow: 3px 3px 3px 1px;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        height: 200px;
        width: 400px;
        margin-right: 25px;
        margin-bottom: 20px;
    }
    .buttonDel 
    {
        margin: 6px;
        width: 180px;
        height: 80px;
        border-radius: 8px;
        background-color: red;
        transition: all 0.2s ease-out;
    }
    .buttonDel:hover 
    {
        transition: all 0.2s ease-out;
        color: white;
        background-color: #CE0000;
    }

    .buttonEdit 
    {
        margin: 6px;
        width: 180px;
        height: 80px;
        border-radius: 8px;
        background-color: lightskyblue;
        transition: all 0.2s ease-out;
    }
    .buttonEdit:hover 
    {
        background-color: deepskyblue;
        color: white;
        transition: all 0.2s ease-out;
    }
</style>

<br>
<h1 style="text-align: center">Категории</h1>

<a asp-action="Create">
    <button id="buttonCreate">Създай нова</button>
</a>

<br>
<br>

@foreach (var item in Model) {
    <div class="category">
        <div class="presentText">
            <div style="display: flex; flex-direction: column">
                <b>Име</b>
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            <br>
            <div style="display: flex; flex-direction: column">
                <b>Дата</b>
                @Html.DisplayFor(modelItem => item.DateUpdate)
            </div>
        </div>
        <div style="display: flex; flex-direction: column">
            <a asp-action="Edit" asp-route-id="@item.Id">
                <button class="buttonEdit">Промени</button>
            </a>
            <a asp-action="Delete" asp-route-id="@item.Id">
                <button class="buttonDel">Премахни</button>
            </a>
        </div>
    </div>
}
<br>
<br>